<div>
	<div dojoType="dijit.form.Form">
	<div dojoType="dijit.form.TextBox"  id="${id}:username"></div>
	<br />
	<div dojoType="dijit.form.TextBox" type="password" id="${id}:password"></div>
	<br />
	<div dojoType="dijit.form.Button" label="登入">
		<script type="dojo/method" event="onClick" >
		// 读取表单,然后将表单发送到rpc
			var  password = dijit.byId("${id}:password").value
			var username = dijit.byId("${id}:username").value

			var self = dijit.byId("${id}")
			self.setPrompt('connectting')

			var service = venus.rpc.authentication('login', username, password)
			service.addCallback(function(result) {
				self.setPrompt()
			})
			service.addErrback(function(err) {
				self.setPrompt('error', err)
			})

			return false
		</script>
	</div>
	<div dojoType="dijit.form.Button" label="重设" type="reset"></div>
	<div dojoType="dijit.Tooltip" label="输入密码"  connectId="${id}:password"></div>
	<div dojoType="dijit.Tooltip" label="输入用户名" connectId="${id}:username"></div>
	<span id="${id}:prompt"></span>
	</div>
</div>
