<div>
	<div dojoType="dijit.form.Form">
	<div dojoType="dijit.form.TextBox"  id="${id}:username"></div>
		<label>用户名</label>
	<br />
	<div dojoType="dijit.form.TextBox" type="password" id="${id}:password"></div>
		<label>密码</label>
	<br />
	<div dojoType="dijit.form.Button" label="登入">
		<script type="dojo/method" event="onClick" >
		// 读取表单,然后将表单发送到rpc
			var  password = dijit.byId("${id}:password").value
			var username = dijit.byId("${id}:username").value

			var self = dijit.byId("${id}")
			self.setPrompt('connectting')

			var service = venus.rpc.call('authentication', 'post')('login', username, password)
			service.addCallback(function(result) {
				self.setPrompt(); 
				dojo.publish('user/login', ['hide'])

				dojo.publish('ctl/update')
				dojo.publish('ctl/msg', [{
					message:'登入成功',
					type:'debug'
				}])
			})
			service.addErrback(function(err) {
				self.setPrompt('error', err)
			})

			return false
		</script>
	</div>
	<div dojoType="dijit.form.Button" label="重设" type="reset"></div>
	<span id="${id}:prompt"></span>
	</div>
</div>
