body {  
    background: #999;  
    text-align: center;  
    color:#333;  
    font-family:Verdana,Arial, Helvetica, sans-serif;  
}  
 
a:link,visited {color:#004592;text-decoration:none;}  
a:hover {color:#004592;text-decoration:underline;}  
a:active {color:#004592;text-decoration:none;}  
 
img {border:0px;}  
 
#header {  
    margin-right: auto;  
    margin-left: auto;  
    padding: 0px;  
    width: 776px;  
    background: #EEE;  
    height: 60px;  
    text-align: left;  
	background:#C0D4EF;
}  

#header > #menubar {
	background:inherit;
	height:18px;
	font-size:12px;
}

#header > #logo > img {
	background:inherit;
	width:100%;
	height:100%;
}

#container {  
    margin-left: auto;  
    margin-right: auto;  
    width: 776px;  
}  
 
#main {  
    float: left;  
    padding: 0px;  
    width: 776px;  
    background: #60A179;  
}  
 
#content {  
    float:right;  
    margin: 2px0px 2px0px;  
    padding: 0px;  
    width: 574px;  
    background: #ccd2de;  
    text-align:left;  
}  

#sidebar {  
    float: left;  
    margin: 2px 2px0px0px;  
    padding: 0px;  
    background: #F2F3F7;  
    width: 200px;  
    text-align:left;  
}  
 
#footer {  
    clear:both;  
    margin-right: auto;  
    margin-left: auto;  
    padding: 0px;  
    width: 776px;  
    background: #EEE;  
    height: 60px;  
}  
