<div>
	<div id="${id}/form" dojoType="dijit.form.Form">

		<div dojoType="dijit.form.ValidationTextBox" id="${id}/before" type="password" name="original_password" required="true"></div>
		<label>原密码</label><br />
		<div dojoType="dijit.form.ValidationTextBox" id="${id}/first" type="password" name="password" required="true"></div>
		<label>新密码</label><br />
		<div dojoType="dijit.form.ValidationTextBox" id="${id}/second" invalidMessage="两次密码不匹配" type="password"  required="true"></div>
		<label>确认新密码</label><br />
		<div dojoType="dijit.form.Button"  type="submit" label="修改密码"></div>
		<div dojoType="dijit.form.Button" type="reset" 	label="复位"></div>
	</div>
</div>
